.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav_bar li{
width: 25%;
border:none;
}

.nav_bar{
  display:block
}

.App-link {
  color: #61dafb;
}

.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  /* background: transparent #282c34; */
  opacity: 0.4;

}
.loading_cont{
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
